<%- include('includes/header.ejs') %>
    <form method="get">
        <input type="search" name="search" value="<%=  %>" style="width: 200px;">
        <input type="submit" value="Найти">
    </form>

    <h1>Запланированные дела</h1>

    <% for (let item of todos) { %>
        <article class="card">
        <header><h2><a href="<%= path %>/<%= item._id %>"><%= item.title %></a></h2></header>
        <footer>
            <% if (item.createdAt) {%>
                <p><%= new Date(item.createdAt).toLocaleString() %></p>
            <% } %> 
        </footer>
        </article>
    <% } %> 
<%- include('includes/footer.ejs') %>
